@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
html, body { height: 100%; }
body { background: #fff; color: #0b0b0b; }
.container-n { max-width: 920px; margin: 0 auto; padding: 24px 16px 90px; }
